{% extends "includes/base.twig" %}
{% block contenu %}
    <article id="contenu">
        <header>
            <h1>Recherche de Stagiaire</h1>
        </header>
        <hr>
        <form action="index.php?page=stagiaire" method="post">
            <fieldset>
                <label class="center message" for="nom">Nom de l'entreprise :</label>
                <input type="text" id="nom" name="nom" placeholder="Entrez un nom">
                <br><br>
                <label class="center message" for="ville">Ville de l'entreprise :</label>
                <input type="text" name="ville" placeholder="Entrez une ville">
                <br><br>
                <label class="center message" for="specialite">Spécialité de l'entreprise :</label>
                <select name="specialite" id="specialite">
                    <option value="">-- Sélectionnez une spécialité --</option>
                    <option value="SLAM">SLAM</option>
                    <option value="SISR">SISR</option>
                    <option value="AM">AM</option>
                    <option value="SN">SN</option>
                    <option value="CG">CG</option>
                    <option value="NRC">NRC</option>
                </select>
            </fieldset>
            <br><br>
            <input type="submit" value="Rechercher">
            <input type="reset" value="Réinitialiser">
        </form>
    </article>
{% endblock %}