{% extends "includes/base.twig" %}
{% block contenu %}
    <article id="contenu">
        <header>
            <h1>Recherche de Stagiaire</h1>
        </header>
        <hr>
        <form action="index.php?page=stagiaire" method="post">
            <fieldset>
                <label class="center message" for="nomEntreprise">Nom de l'entreprise :</label>
                <input type="text" id="nomEntreprise" name="nomEntreprise" placeholder="Entrez un nom">
                <br><br>
                <label class="center message" for="ville">Nom et prénom du stagiaire :</label>
                <input type="text" name="nomE" placeholder="Entrez un nom">
                <input type="text" name="prenomE" placeholder="Entrez un prénom">
                <br><br>
                <label class="center message" for="ville">Nom et prénom du professeur :</label>
                <input type="text" name="nomP" placeholder="Entrez un nom">
                <input type="text" name="prenomP" placeholder="Entrez un prénom">
            </fieldset>
            <br><br>
            <input type="submit" value="Rechercher">
            <input type="reset" value="Réinitialiser">
        </form>
    </article>
{% endblock %}