{% extends "includes/base.twig" %}

{% block contenu %}
    <article id="contenu">
        <div class="container">
            <h1>403 - Accès interdit</h1>
            <a>Vous n'êtes pas autorisé à accéder à cette page.</a>
        </div>
    </article>
{% endblock %}
