{% extends "includes/base.twig" %}
{% block contenu %}
    <header>
        <h1>Stage BTS</h1>
        <hr>
        <h2>Vous êtes un {{ role }}</h2>
        <p>Bienvenue sur la page de gestion des stages</p>
    </header>
{% endblock %}