<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{base_url}}/public/css/general.css">
    <link rel="stylesheet" type="text/css" href="{{base_url}}/public/css/tableau.css">
    <link rel="stylesheet" type="text/css" href="{{base_url}}/public/css/bouton.css">
    <link rel="stylesheet" type="text/css" href="{{base_url}}/public/css/formulaire.css">
    <script type="text/javascript" src="../../../public/js/script.js"></script>
    <title>Projet WEB 3A</title>
</head>
<body>
    {% include 'includes/nav.twig' %}
    <div id="corps">
        {% block contenu %}{% endblock %}
    </div>
</body>
</html>