<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://localhost:63342/ISI1-WEB-Projet-Final/public/css/general.css">
    <script type="text/javascript" src="../../../public/js/script.js"></script>
</head>
<body>
    {% include 'includes/nav.twig' %}
    <div id="corps">
        {% block contenu %}{% endblock %}
    </div>
</body>
</html>