<nav>
    <a href="#" id="onglet_accueil" class="actif">
        <span>Accueil</span>
    </a>
    <a href="#" id="onglet_entreprise">
        <span>Entreprise</span>
    </a>
    <a href="#" id="onglet_stagiaire">
        <span>Stagiaire</span>
    </a>
    <a href="#" id="onglet_inscrire">
        <span>Inscription</span>
    </a>
    <a href="#" id="onglet_aide">
        <span>Aide</span>
    </a>
    <a href="#" id="onglet_deconnexion">
        <span>Déconnexion</span>
    </a>
</nav>