<!-- templates/nav.twig -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Site</title>
    <link rel="stylesheet" href="public/css/general.css">
</head>
<body>
<nav>
    <a href="#" id="onglet_accueil" class="actif">
        <span>Accueil</span>
    </a>
    <a href="#" id="onglet_entreprise">
        <span>Entreprise</span>
    </a>
    <a href="#" id="onglet_stagiaire">
        <span>Stagiaire</span>
    </a>
    <a href="#" id="onglet_inscrire">
        <span>Inscription</span>
    </a>
    <a href="#" id="onglet_aide">
        <span>Aide</span>
    </a>
    <a href="#" id="onglet_deconnection">
        <span>Déconnexion</span>
    </a>
</nav>

{% block content %}
{% endblock %}

<script src="/public/js/script.js"></script>
</body>
</html>
